In [1]:
#%pip install gmaps

In [2]:
# Import Dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [3]:
# Store the 'cities.csv' into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2021-03-29 18:14:44,-21.3585,55.7679,78.80,78,75,4.61
1,1,Hithadhoo,MV,2021-03-29 18:14:45,-0.6000,73.0833,83.82,74,100,24.85
2,2,Sao Felix Do Xingu,BR,2021-03-29 18:14:46,-6.6447,-51.9950,84.60,68,98,2.01
3,3,Yarada,IN,2021-03-29 18:14:48,17.6500,83.2667,81.23,82,9,11.79
4,4,Kharp,RU,2021-03-29 18:14:52,66.8014,65.8081,17.20,96,100,2.59

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

### General syntax for creating a heatmap
1. Assign the locations to an array of latitude and longitude pairs.

`locations = [latitude, longitude]`

2. Assign the weights variable to some values.

`temperatures = # an array of length equal to the locations array length`

3. Assign the figure variable to the gmaps.figure() attribute.

`fig = gmaps.figure()`

4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

`heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)`

5. Add the heatmap layer.

`fig.add_layer(heatmap_layer)`

6. Call the figure to plot the data.

`fig`

In [6]:
# Get the max temps
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [12]:
# Heatmap of temp
# get the lat and long
locations = city_data_df[["Lat","Lng"]]
# Get max temp
max_temp = city_data_df["Max Temp"]
# assign fig var
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap var
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False,
                                max_intensity=300, point_radius=4)
# add heatmap layer
fig.add_layer(heat_layer)
#call and plot
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask cutomer to add min and max temps
min_temp = float(input("What is the minimum temp you would like for your trip? "))
max_temp = float(input("What is the maximum temp you would like for your trip? "))

What is the minimum temp you would like for your trip? 75
What is the maximum temp you would like for your trip? 90

In [19]:
# Filter dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2021-03-29 18:14:44,-21.3585,55.7679,78.80,78,75,4.61
1,1,Hithadhoo,MV,2021-03-29 18:14:45,-0.6000,73.0833,83.82,74,100,24.85
2,2,Sao Felix Do Xingu,BR,2021-03-29 18:14:46,-6.6447,-51.9950,84.60,68,98,2.01
3,3,Yarada,IN,2021-03-29 18:14:48,17.6500,83.2667,81.23,82,9,11.79
6,6,Victoria,HK,2021-03-29 18:10:41,22.2855,114.1577,78.01,87,44,1.01
12,12,Grand-Santi,GF,2021-03-29 18:14:55,4.2500,-54.3833,84.18,67,88,5.77
14,14,Santa Cruz Cabralia,BR,2021-03-29 18:14:55,-16.2781,-39.0247,84.20,61,0,17.27
16,16,Ambilobe,MG,2021-03-29 18:14:57,-13.2000,49.0500,75.61,93,50,2.21
18,18,Bambous Virieux,MU,2021-03-29 18:14:58,-20.3428,57.7575,78.01,94,20,6.91
21,21,Kalmunai,LK,2021-03-29 18:14:59,7.4167,81.8167,77.47,84,67,7.23

In [20]:
preferred_cities_df.count()

City_ID       203
City          203
Country       199
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [21]:
# Create DF called hotel_df to store hotel names along with;
# city, country, max temp, and coords
hotel_df = preferred_cities_df[["City","Country","Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
0        Saint-Philippe      RE     78.80 -21.3585   55.7679
1             Hithadhoo      MV     83.82  -0.6000   73.0833
2    Sao Felix Do Xingu      BR     84.60  -6.6447  -51.9950
3                Yarada      IN     81.23  17.6500   83.2667
6              Victoria      HK     78.01  22.2855  114.1577
12          Grand-Santi      GF     84.18   4.2500  -54.3833
14  Santa Cruz Cabralia      BR     84.20 -16.2781  -39.0247
16             Ambilobe      MG     75.61 -13.2000   49.0500
18      Bambous Virieux      MU     78.01 -20.3428   57.7575
21             Kalmunai      LK     77.47   7.4167   81.8167

In [26]:
# Set parameters to search for a hotel
params = { 
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# iterate through the DF
for index, row in hotel_df.iterrows():
    # Get the lat and long
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and lng to location key for the params dict
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and out lat and lng 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # grab the first hotel from the resutls and store the name
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping")

Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,Hithadhoo,MV,83.82,-0.6000,73.0833,Scoop Guest House
2,Sao Felix Do Xingu,BR,84.60,-6.6447,-51.9950,Rio Xingu Camping
3,Yarada,IN,81.23,17.6500,83.2667,Jeevan
6,Victoria,HK,78.01,22.2855,114.1577,Mini Hotel Central
12,Grand-Santi,GF,84.18,4.2500,-54.3833,Hotel La Villa Couacou
14,Santa Cruz Cabralia,BR,84.20,-16.2781,-39.0247,Portobali Hotel
16,Ambilobe,MG,75.61,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
18,Bambous Virieux,MU,78.01,-20.3428,57.7575,Casa Tia Villa
21,Kalmunai,LK,77.47,7.4167,81.8167,VS Villa

In [29]:
# Add a heatmap of temp for the vaca spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """"
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the df row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temp for the vaca spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))