## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Desc
0,0,Hambantota,LK,6.1241,81.1185,77.00,100,40,3.44,heavy intensity rain
1,1,Ushuaia,AR,-54.8000,-68.3000,50.00,34,20,14.97,few clouds
2,2,Ludvika,SE,60.1496,15.1878,45.00,45,90,5.75,overcast clouds
3,3,Botucatu,BR,-22.8858,-48.4450,76.80,41,1,8.01,clear sky
4,4,Kalengwa,ZM,-13.4659,25.0027,67.08,73,80,5.41,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temp you would like for your trip? "))
max_temp = float(input("What is the maximum temp you would like for your trip? "))

What is the minimum temp you would like for your trip? 70
What is the maximum temp you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Desc
0,0,Hambantota,LK,6.1241,81.1185,77.00,100,40,3.44,heavy intensity rain
3,3,Botucatu,BR,-22.8858,-48.4450,76.80,41,1,8.01,clear sky
8,8,Bubaque,GW,11.2833,-15.8333,78.01,76,5,10.42,clear sky
9,9,Elizabeth City,US,36.2946,-76.2511,73.00,46,1,8.93,clear sky
25,25,Bafia,CM,4.7500,11.2333,74.98,73,100,1.77,overcast clouds
26,26,East London,ZA,-33.0153,27.9116,71.60,88,75,8.05,broken clouds
28,28,Sambava,MG,-14.2667,50.1667,77.29,86,88,5.97,light rain
33,33,Torit,SS,4.4133,32.5678,78.84,57,94,1.68,overcast clouds
37,37,Pisco,PE,-13.7000,-76.2167,71.01,73,0,10.36,clear sky
39,39,Sao Filipe,CV,14.8961,-24.4956,79.43,55,34,16.51,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0      157
City            157
Country         151
Lat             157
Lng             157
Max Temp        157
Humidity        157
Cloudiness      157
Wind Speed      157
Weather Desc    157
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
nan_value = float("NaN")
preferred_cities_df.replace("", "NaN", inplace=True)
clean_df = preferred_cities_df.dropna()
clean_df.count()

/Users/caelandoherty/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:4385: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

Unnamed: 0      151
City            151
Country         151
Lat             151
Lng             151
Max Temp        151
Humidity        151
Cloudiness      151
Wind Speed      151
Weather Desc    151
dtype: int64

In [7]:
# display new preferred_cities_df
clean_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Desc
0,0,Hambantota,LK,6.1241,81.1185,77.00,100,40,3.44,heavy intensity rain
3,3,Botucatu,BR,-22.8858,-48.4450,76.80,41,1,8.01,clear sky
8,8,Bubaque,GW,11.2833,-15.8333,78.01,76,5,10.42,clear sky
9,9,Elizabeth City,US,36.2946,-76.2511,73.00,46,1,8.93,clear sky
25,25,Bafia,CM,4.7500,11.2333,74.98,73,100,1.77,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Desc", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Desc,Lat,Lng,Hotel Name
0,Hambantota,LK,77.00,heavy intensity rain,6.1241,81.1185,
3,Botucatu,BR,76.80,clear sky,-22.8858,-48.4450,
8,Bubaque,GW,78.01,clear sky,11.2833,-15.8333,
9,Elizabeth City,US,73.00,clear sky,36.2946,-76.2511,
25,Bafia,CM,74.98,overcast clouds,4.7500,11.2333,
26,East London,ZA,71.60,broken clouds,-33.0153,27.9116,
28,Sambava,MG,77.29,light rain,-14.2667,50.1667,
33,Torit,SS,78.84,overcast clouds,4.4133,32.5678,
37,Pisco,PE,71.01,clear sky,-13.7000,-76.2167,
39,Sao Filipe,CV,79.43,scattered clouds,14.8961,-24.4956,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    Lat = row["Lat"]
    Lng = row["Lng"]

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{Lat},{Lng}"

    # 6e. Make request and retrieve the JSON data from the search.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
        print("Hotel found!")
    except:
        print("Hotel not found...skipping")

Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel found!
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel found!
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel not found...skipping
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found...skipping
Hotel found!

In [10]:
hotel_df

,City,Country,Max Temp,Weather Desc,Lat,Lng,Hotel Name
0,Hambantota,LK,77.00,heavy intensity rain,6.1241,81.1185,Bungalow 63
3,Botucatu,BR,76.80,clear sky,-22.8858,-48.4450,Primar Plaza Hotel
8,Bubaque,GW,78.01,clear sky,11.2833,-15.8333,"Casa Dora, Bubaque"
9,Elizabeth City,US,73.00,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
25,Bafia,CM,74.98,overcast clouds,4.7500,11.2333,Ets MAISON BLANCHE
...,...,...,...,...,...,...,...
645,Springbok,ZA,79.16,clear sky,-29.6643,17.8865,Undulata Country Lodge
646,Isiro,CD,75.65,overcast clouds,2.7739,27.6160,Guest House Hewa Bora
648,Cradock,ZA,73.04,clear sky,-32.1642,25.6192,Die Hoekhuis
663,Lahij,YE,78.66,scattered clouds,13.1667,44.5833,
673,Marawi,PH,75.99,overcast clouds,7.9986,124.2928,Derogongan Residence

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace("", np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Weather Desc,Lat,Lng,Hotel Name
0,Hambantota,LK,77.00,heavy intensity rain,6.1241,81.1185,Bungalow 63
3,Botucatu,BR,76.80,clear sky,-22.8858,-48.4450,Primar Plaza Hotel
8,Bubaque,GW,78.01,clear sky,11.2833,-15.8333,"Casa Dora, Bubaque"
9,Elizabeth City,US,73.00,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
25,Bafia,CM,74.98,overcast clouds,4.7500,11.2333,Ets MAISON BLANCHE
...,...,...,...,...,...,...,...
644,Ambovombe,MG,75.27,clear sky,-25.1667,46.0833,RELAHARA
645,Springbok,ZA,79.16,clear sky,-29.6643,17.8865,Undulata Country Lodge
646,Isiro,CD,75.65,overcast clouds,2.7739,27.6160,Guest House Hewa Bora
648,Cradock,ZA,73.04,clear sky,-32.1642,25.6192,Die Hoekhuis
673,Marawi,PH,75.99,overcast clouds,7.9986,124.2928,Derogongan Residence

In [12]:
# 8a. Create the output File (CSV)
output_data_file = open("WeatherPy_vacation.csv", "w")

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))